body{
    display: flex;
    background-color: black;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.box {
    /* border: 5px solid red; */
    height: 150px;
    width: 190px;
    position: relative;
}

.box div {
    height: inherit;
    width: inherit;
    position: absolute;
    /* animation: spin 4s linear infinite; */
} 

.box div:nth-child(1) {
    border-radius: 56% 44% 73% 27% / 26% 68% 32% 74% ;
    border: 1px blue solid;
    transform: rotate(30deg);
    animation: spin 3s linear infinite;
}

.box div:nth-child(2) {
    border: 1px solid red;
    transform: rotate(50deg);
    animation: spin 2s linear infinite;
    border-radius: 56% 44% 40% 60% / 26% 68% 32% 74% ;
}

.box div:nth-child(3) {
    border: 1px solid plum;
    transform: rotate(50deg);
    animation: spin 1.5s linear infinite;
    border-radius: 56% 44% 40% 60% / 26% 68% 32% 74% ;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}


